.blackLabel2 {
    background-color: white;
    color: black;
    width: 50px;
}
.hudClass {
    height: 140px; width: 100%; max-width: 800px; 
    padding: 5px; color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin: 1px;
}