<app-page-shell [title]="'Analysis'">
    <app-game-type-bar (messageEvent)="gameTypeChanged($event)"></app-game-type-bar>
    <app-year-bar (messageEvent)="yearChanged($event)"></app-year-bar>
    <app-summary-bar [summaryObj]="summaryObj"></app-summary-bar>

    <table class="drTable">
        <tr *ngFor="let item of items">
            <td width="50%" style="text-align: right;">{{item.name}}:&nbsp;</td>
            <td style="text-align: left; font-weight: 500;">&nbsp;{{item.value}}</td>
        </tr>
    </table>

    <div style="text-align: left; padding: 10px; margin: 10px; background-color: white; color: black;">
        <b>{{selectedYear}} Analysis:</b>
        <p *ngFor="let paragraph of analysisText">{{paragraph}}</p>
    </div>

</app-page-shell>

