<div class="modal fade" id="pausePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 320px;">
        <div class="modal-content" [ngStyle]="ngStyleBackground()">
            <div class="modal-header">
                <b><i class="fa fa-pause"></i> Game Paused</b>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 24px;">

                <div>Game is currently paused.</div>
                <div style="font-size: 30px;"><i class="fa fa-pause"></i></div>

                <div style="font-size: 12px;">
                    <div>breakMinutes {{breakMinutes}}</div>
                    <div>{{pauseTime}}</div>
                </div>
                <div>
                    <span id="ptpPauseClock" [ngStyle]="ngStyleLightColor()"
                        style="font-size: 48px; font-weight: 500;">{{timer}}</span>
                </div>
                <app-button (click)="playButtonClicked()" [name]="'Play'" [icon]="'play'"></app-button>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>