<app-page-shell title="Live Game" (messageEvent)="infoButtonClicked($event)" rButton="gameInfo">
    <div style="background-color: #444;" class="redBox">
        <table width="100%">
            <tr>
                <td align="center" width="80" style="min-width: 60px; white-space: nowrap;" class="profitClass">
                    <div style="font-size: 10px;">Profit</div>
                    <app-local-currency [amount]="game.profit" [lightFlg]="true"></app-local-currency>
                    <div style="font-size: 10px;">{{game.skillName}}</div>
                    
                </td>
                <td>
                    <div style="font-size: 10px; margin-bottom: -10px; margin-top: 4px;"><i class="fa fa-clock-o"></i> Game Clock</div>
                    <span id="ptpClock" [ngStyle]="ngStyleLightColor()"
                        style="font-size: 48px; font-weight: 500;">{{timer}}</span>

                </td>
                <td width="60">
                    <img src="assets/graphics/{{game.img}}" width="60" [title]="game.skillName">
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 3px;">
        <table width="100%">
            <tr>
                <td align="center" *ngFor="let button of buttons">
                    <app-button (click)="buttonPressed(button)" [icon]="button.icon" class="icon" [label]="button.name"></app-button>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-bottom: 170px;">
        <table class="drTable" (click)="refreshScreen()">
            <tr *ngFor="let item of items">
                <td width="50%" style="text-align: right;">{{item.name}}:&nbsp;</td>
                <td style="text-align: left; font-weight: 500;">&nbsp;{{item.value}}</td>
            </tr>
        </table>
        <div>Profit Graph</div>
        <canvas [ngStyle]="ngStyleButton(3)" id="myCanvas" style="max-height: 250px;"></canvas>
    </div>

    <div style="position: fixed; width: 100%; bottom: 20px; max-width: 800px;" [ngStyle]="ngStyleBackground()"
        class="redBox">
        <table width="100%">
            <tr>
                <td align="center" width="25%" *ngIf="game.type=='Cash'">
                    <app-button (click)="buttonNumberClicked('Food/Drink', 2, game.food, true)" icon="cutlery" class="width90" label="Food/Drink" [name]="foodObj.currency"></app-button>
                </td>
                <td align="center" width="25%">
                    <app-button (click)="buttonNumberClicked('Tips/Tokes', 3, game.tips, true)" icon="money" class="width90" label="Tips" [name]="tipsObj.currency"></app-button>
                </td>
                <td align="center" width="25%">
                    <app-button (click)="pausePopup.show()" icon="pause" class="icon" label="Pause"></app-button>
                </td>
                <td align="center" width="25%">
                    <app-button (click)="rebuyPopup.show()" icon="refresh" class="icon" label="Re-Buy"></app-button>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td align="center" width="50%" *ngIf="game.type=='Cash'">
                    <app-button (click)="buttonNumberClicked('Current Chips', 1, game.cashout, true)" class="large"
                        [name]="cashoutObj.currency" label="Current Chips"></app-button>
                </td>
                <td align="center" width="50%">
                    <app-button (click)="confirmationPopup.show('Cash out for '+cashoutObj.currency+'?')" icon="stop" class="large" name="End" label="Cash Out"></app-button>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: fixed; width: 100%; bottom: 0; max-width: 800px; background-color: #444; height: 20px;">&nbsp;
    </div>
</app-page-shell>

<app-confirmation-popup #confirmationPopup (messageEvent)="confirmButtonClicked()"></app-confirmation-popup>
<app-info-popup #infoModal (messageEvent)="okButtonPressed()"></app-info-popup>
<app-number-modal #numberModal (messageEvent)="numberSelected($event)"></app-number-modal>
<app-ref-data-modal #refDataModal (messageEvent)="refDataSelected($event)"></app-ref-data-modal>
<app-game-info-popup #gameInfoPopup></app-game-info-popup>
<app-pause-popup #pausePopup></app-pause-popup>
<app-rebuy-popup #rebuyPopup></app-rebuy-popup>
<app-text-entry-popup #textEntryPopup></app-text-entry-popup>