<div class="modal fade" id="filterPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" [ngStyle]="ngStyleBackground()">
            <div class="modal-header">
                <b><i class="fa fa-filter"></i> Filter</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">

                <div style="text-align: center;">
                    <div style="display: inline-block; max-width: 400px;">
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="nameObj"></app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="typeObj"></app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="dateObj"></app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="tournamentTypeObj">
                        </app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="stakesObj">
                        </app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="limitObj">
                        </app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="bankrollObj">
                        </app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="casinoObj">
                        </app-form-input>
                        <app-form-input (messageEvent)="changesMade($event)" [inputFieldObj]="displayObj">
                        </app-form-input>
                    </div>
                </div>

            </div>
            <div class="modal-footer" [ngStyle]="ngStyleNavBar()">
                <app-button [disabled]="!changesMadeFlg" (click)="resetButtonPressed()" [name]="'Reset'"
                    [icon]="'refresh'">
                </app-button>
                <app-button *ngIf="existingFilterFlg" (click)="saveButtonPressed()" [name]="'Delete'" [icon]="'trash'">
                </app-button>
                <app-button [disabled]="!changesMadeFlg" (click)="saveButtonPressed()" [name]="'Save'"
                    [icon]="'floppy-o'"></app-button>
            </div>
        </div>
    </div>
</div>